<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CodePen - Single element Slack loader</title>
		<style>

		</style>
		<script>
			window.console = window.console || function(t) {};
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<script>
			if (document.location.search.match(/type=embed/gi)) {
				window.parent.postMessage("resize", "*");
			}
		</script>
	</head>
	<body translate="no">
		
	</body>
</html>
